<div>


    <script>

        const searchClient = algoliasearch('VEDUWHENK3', '357a1ee93613b22d9bd9bb0fa3c48fb9');

        const search = instantsearch({
            indexName: 'demo_ecommerce',
            searchClient,
        });

        search.addWidgets([
            instantsearch.widgets.searchBox({
                container: '#searchbox',
            }),

            instantsearch.widgets.hits({
                container: '#hits',
            })
        ]);

        search.start();


    </script>
</div>