<a class="card block text-decoration-none text-dark h-100 shadow" style="border-bottom: 4px solid rgb(11, 139, 199);" href="/taxonomies/<%- taxonomy._id %>">
    <div class="card-body h-100">
        <div class="">
            <span class="p-3">
                <i style="color: rgb(10, 94, 10);" class="bi bi-collection lead"></i>
            </span>
        </div>
        <div style="flex: 1;">
            <h5 class="card-title ">
                <%- taxonomy.name %>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted fs-small">
                <%- taxonomy.type %>
            </h6>
            <p class="card-text">Find research materials on <%- taxonomy.name %>
            </p>
        </div>
    </div>
</a>