<%- include('template/header'); -%>
    <div class="container py-3">

        <h1>Cookies Policies</h1>

        <p>
            We do believe we can be transparent about how we collect and use your data. This policy provides information
            about how and when we use cookies when you use our Website.
            What is a cookie?

        </p>
        <p>
            Cookies are small text files we send to your computer or mobile device. They are unique to your account or
            your browser. Session-based cookies last only while your browser is open and are automatically deleted when
            you close your browser. Persistent cookies last until you or your browser delete them or until they expire.
        </p>
        <p>
            You can read more about cookies at this site.
            Do we use cookies?
        </p>
        <p>
            Yes. We use cookies and similar technologies like single-pixel gifs and web beacons. We use both
            session-based and persistent cookies to provide you services or to make it easier to navigate the Website.
            We set and access our cookies on the Website, and we also use third-party cookies, like Google Analytics.
        </p>
        <p>
            How do we use cookies?</p>

        <p></p>
        Some cookies are associated with your account and personal information in order to remember that you are logged
        in and which services you order. Other cookies are not tied to your account but are unique and allow us to carry
        out analytics and customization, among other similar things.
        </p>
        <p>
            Cookies can be used to recognize you when you visit our Website or use our services, remember your
            preferences, and give you a personalized experience that's consistent with your settings. Cookies also make
            your interactions faster and more secure.
        </p>

        <p>
            How we use cookies for advertising?
        </p>

        <p>
            Cookies and other ad technology such as beacons, pixels, and tags help us market more effectively to users
            that our partners and we believe may be interested in our services. They also help provide us with
            aggregated auditing, research, statistics, and reporting and know when content has been shown to you.
        </p>
        <p>
            What to do if you don't want cookies to be set?
        </p>
        </p>You may prefer not to allow cookies, which is why most browsers give you the ability to manage cookies to
        suit your interest. In some browsers, you may also manage cookies preferences for each particular Website.
        </p>
        <p>
            You can find the instructions on how to manage your cookies for different browsers below:
        </p>
        <ul>
            <li>Google Chrome</li>
            <li>Internet Explorer</li>
            <li> Microsoft Edge</li>
            <li>Mozilla Firefox</li>
            <li>Safari</li>
            <li>Android Browser</li>
        </ul>
        <p>
            For other browsers, please consult the documentation that your browser manufacturer provides.

            You may opt-out of third-party cookies from Google Analytics on its Website.</p>
        <p>
            You can opt-out of interest-based targeting provided by participating ad servers through the Digital
            Advertising
            Alliance. In addition, on your iPhone, iPad, or Android, you can change your device settings to control
            whether
            you see online interest-based ads.
        </p>
        <p>
            Note! If you limit the ability of websites and applications to set cookies, you may worsen your overall user
            experience or lose the ability to access the services, since it will no longer be personalized. It may also
            stop
            you from saving customized settings, like login information.
            Cookies used on our Website
        </p>
        <h5> Authentication</h5>

        <p>
            If you're signed in to our Website, cookies help us show you the right information and personalize your
            experience.
            Security</p>
        <p>
            We use cookies to enable and support our security features and to help us detect malicious activity.
            Preferences, features, and services
        </p>
        <p>
            Cookies can tell us which language you prefer and what your communications preferences are. They can help
            you
            fill out forms on our Website more easily. They also provide you with features, insights, and customized
            content.
            Marketing</p>

        <p>
            We may use cookies to help us deliver marketing campaigns and track their performance (e.g., a user visited
            our
            support page and then made a purchase). Similarly, our partners may use cookies to provide us with
            information
            about your interactions with their services. Still, the use of those third-party cookies would be subject to
            the
            service provider's policies.
            Performance, Analytics, and Research
        </p>
        <p>
            Cookies help us learn how convenient our Website is for users. We also use cookies to understand, improve,
            and
            research products, features, and services, including to create logs and records when you access our Website
            from
            different devices, such as your work computer or your mobile device.</p>



    </div>
    <%- include('template/footer'); -%>