<%- include('template/header'); -%>

    <style>
        #cover {
            box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
            background-position: left;
            background: url('https://firebasestorage.googleapis.com/v0/b/renosnuggets-01.appspot.com/o/serious-african-american-student-working-research.jpg?alt=media&token=67a6dbf1-1671-4533-a7f6-87b0bdd64e8c');
            background-size: cover;
        }
    </style>
    <div id="cover">
        <div class="container-fluid py-5 px-md-5">
            <div class="row align-items-center justify-content-center text-center" style="min-height: 60vh;">
                <div class="col-md-6">
                    <h1 class="fw-bold text-light">Project resources for everyone.</h1>
                    <p class="md-lead text-light">Find project resouces for your project work</p>


                    <div class="input-group input-group-lg">

                        <input type="text" class="form-control  form-control-lg shadow-none outline-none"
                            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                        <button class="btn btn-primary" type="button" id="button-addon2"><i
                                class="bi bi-search"></i></button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="bg-dark">
        <div class="d-flex flex-column flex-md-row p-4 justify-content-center align-items-center">
            <div class="text-light  text-center lead mx-md-3">Over <span class="fw-bold">200</span> resources publised. Create publisher account.</div>
            <button class="btn btn-danger mt-2 mt-md-0 btn-lg">Create Account</button>
        </div>
    </div>



    <div class="container my-5">
        <h3>Search project by departments</h3>
        <div class="row">
            <% taxonomies.slice(0,9).forEach(function(item){ %>
                <div class="col-12 col-md-4 my-2">
                    <%- include('components/taxonomy-card', {taxonomy: item}); %>
                </div>
                <% }); %>

        </div>
    </div>


    <%- include('template/footer'); -%>