<%- include('template/header'); -%>

    <div style="">
        <div class="container  py-5">
            <div class="py-5 px-2 bg-dark rounded rounded-lg">
                <div class="row py-5 justify-content-center text-center">
                    <div class="col-md-6 col-lg-5  my-2">
                        <div class="rounded bg-ligh p-4  bg-white shadow-sm">
                            <p>Find project resources published by verified writers for your final year research paper... </p>
                            <a class="btn btn-lg  btn-danger" href="/taxonomies">Search Repository</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 my-2">
                        <div class="rounded bg-ligh p-4 bg-white shadow-sm">
                            <p>Help final year students finish up their research work for a fee...</p>
                            <a class="btn btn-lg btn-info mr-1"
                                href="https://wa.me/2349017283616?text= Hello Joshua, i'll love to register on mypapers.shop as a partner... ">Get
                                started</a>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center text-center">
                    <div class="col-md-6">
                        <h1 class="text-enter my-5 text-white fw-bold">
                            We're building a repository of perfectly crafted project resoures just for you. 
                        </h1>
                        <a class="btn btn-danger  btn-lg" href="/taxonomies">Explore</a>
                    </div>
                </div>
            </div>



        </div>
    </div>

    <div class="container my-5">
        <h4>Search categories</h4>
        <div class="row">
            <% taxonomies.slice(0,9).forEach(function(item){ %>
                <div class="col-12 col-md-4 my-2">
                    <%- include('components/taxonomy-card', {taxonomy: item}); %>
                </div>
                <% }); %>

        </div>
    </div>

    <%- include('template/footer'); -%>