<%- include('template/header'); -%>

    <div class="container">
        <h1>Money Back Guarantee
        </h1>
        <p>
            Money-Back Guarantee allows the Customer to request reimbursement in cases described below. If the
            Customer's request does not fit into any category, they may contact the Support Team to discuss the nature
            of the request.
            Order Cancellation</p>
        <p>
            If the Customer decides to cancel their Order, the following rules apply:
        </p>
        <ul>
            <li>
                If the Customer chooses to cancel an Order when no Writer has been assigned, they will become eligible
                for a 100% refund.

            </li>
            <li>
                If the Customer decides to cancel an Order when a Writer has already started working on it, the amount
                of compensation will be proportional to the amount of work not yet done. A refund percentage cannot
                exceed 80% due to the necessity of the preliminary research and operational expenses incurred by the
                Company. The Customer may also request an unfinished paper.

            </li>
        </ul>

        <h5>
            Late Delivery
        </h5>
        <p>
            In case of delayed delivery of an Order, the Customer is entitled to a Time Delivery Difference
            Compensation,
            which is calculated in every case separately, depending on the initial deadline and the time of delay.
            Compensation for delay cannot be provided if:
        </p>
        <p>
            The delay was a consequence of actions made by the Customer. This includes a delay in payment, including
            additional payment for order modification, delay in the provision of necessary sources, or failure to
            respond to
            questions or requests from us in a timely manner.
            The inability to receive the Order on time was due to technical complications of Customer's internet
            provider,
            Browser, or any system malfunctions.
            The Customer provided a deadline extension voluntarily.
        </p>
        <h5> Bad Quality Claims</h5>


        <p>

            If the Customer is not satisfied with the provided Order and would like to get compensation, the Quality
            Assurance Team will conduct an investigation. The Customer is required to provide extensive comments that
            indicate a mismatch between the initial instructions and the completed Order. The resolution of the
            Customer's
            claim will be based on the result of the investigation. Note: in an instance where a bad quality claim is
            filed,
            and the Order has been previously submitted for Revision, a compensation will not exceed 70%, because a
            request
            for Revision implies that that Customer has partially approved of the piece. This excludes cases with the
            "Redone" Revision level.
        </p>
        <p>
            If the claim for compensation is due to a bad grade, such claims cannot be considered valid. The Order is
            intended to be used for research and reference purposes and may not be submitted as the Customer's own work.
            If the claim is that the paper is unoriginal, a "Turnitin.com" report is required. There will be no other
            reports that can be accepted to conduct an investigation by the Quality Assurance Team.
            If the compensation is requested for the "Editing, & Proofreading" type of Order, the investigation will not
            be
            conducted if a bad quality claim is of contextual nature. These services do not presuppose significant
            alterations (up to 30%) of the Order structure.
            If the compensation is requested for an order with a 6-hour deadline or less, this request may be declined.
            This
            is due to the fact that the quality of an urgent order may be compromised because of the short time frames.
            Please keep in mind that by placing a rush order, you agree to the stated terms.
        </p>
        <h5>Order Details / Preferences</h5>

        <p>
            If a Customer selected a "Plagiarism Report" feature and did not receive it, they become eligible for a
            refund
            of the price of the feature.
            The Customer may select a specific Writer to work on their Order by indicating their ID number in the
            "Preferred
            Writer ID" field on the Order form. By doing so, the Customer acknowledges that there is no 100% guarantee
            that
            the specific Writer is available to work on the Order. Should such instance occur, the Company reserves the
            right to assign the best available specialist in the Subject Area of the Order, matching Preferred Writer
            performance level in case the Customer checks the relevant field.
            A non-applied discount cannot be compensated in any way. It is Customer's sole responsibility to track the
            accuracy of all Order Details, including the "Discount" field. The Customer may consult our Support Team in
            Order to check the availability of discounts.
        </p>
        <h5>
            Procedure</h5>
        <p>

            In order to submit a compensation request, the Customer must contact the Support Team within 14 days after
            the
            Order has been completed. The Billing Department representative requires 5 days to review the request and
            will
            contact the Customer with a resolution over the phone or by email. Our representative has the right to
            request
            any additional information from the Customer that is required to process the claim correctly.
            Refund processing</p>
        <p>

            Once the Customer receives a refund confirmation, the Company will process it within 5 business days from
            the
            confirmation date. Please note, that the Company cannot be held responsible for any Bank Transfer fees,
            peculiarities of transfer, and possible delays occurring due to Bank service issues. Refunds can only be
            processed if their amount exceeds $ 10. 
        </p>

    </div>

    <%- include('template/footer'); -%>