<%- include('template/header'); -%>

    <div class="container py-3">
        <h1>Terms and Conditions</h1>
        <br>
        1. Interpretation of the Terms
        <br>
        1.1 Agreement refers to these Terms and Conditions.
        <br>
        1.2 The Company refers to buyresearchpapers.net, the provider of academic writing services to Customers.
        <br>
        1.3 The Customer refers to the person or persons who submit Orders with the Company and abide by the Terms and
        Conditions described in this Agreement.
        <br>
        1.4 Messaging System is the software that ensures uninterrupted communication between the Customer and the
        Writer, or with a Support Team Agent.
        <br>
        1.5 Order refers to the actual request for a Product sent to the Company by the Customer. It includes particular
        requir <br>
        1.6 Product is the result of the Order, an original piece, written and delivered to the Customer, per their
        specifications, as a digital document.
        <br>
        1.7 Product Revision is a request sent by the Customer for editing the final version of the Product, based on
        the initial requirements of the Order.
        <br>
        1.8 Support Staff refers to the Company's structural unit responsible for coordinating and assisting the Order
        process.
        <br>
        1.9 The Writer is a person employed by the Company as a freelancer who provides research and writing services to
        the Customer according to the Company Agreement. <br>
        2. Order Placement and Registration
        <br>
        2.1 The Customer may place an Order by filling out the Order form on the buyresearchpapers.net or by asking
        Support Staff to assist them with it.
        <br>
        2.2 The Order Form specifies the scope of work, Order parameters, and delivery terms. It is the Customer's
        responsibility to provide exact, full, and final information on the Order form, or to the Company's Support
        Staff that will submit the Order on their behalf.
        <br>
        2.3 In addition to the Order requirements, the Customer is required to register their profile with the Company
        by providing their name, email address, country of residence, and phone number. Should any of these parameters
        change over time, it is the Customer's responsibility to update the profile accordingly or notify the Support
        Staff about the necessary changes.
        <br>
        2.4 Once the Customer's profile is created, based on the information provided during registration, the Customer
        should not attempt to create another profile by providing different credentials when placing a new Order. The
        Customer is required to communicate and do business with the Company using one and only one profile created
        during the first purchase. Should multiple accounts be created, the Company has the right to merge multiple
        accounts in one profile to keep the purchase history up to date.
        <br>
        2.5 Upon account creation, for compliance reasons, the Company may ask for details verification (name, email,
        phone number, any other identity information), as well as request a copy of personal identification documents.
        <br>
        3. Order Payment
        <br>
        3.1 The payment for the Product is calculated according to the Company's pricing and should be paid in advance.
        The Company starts to process the Order only after the payment for the Product is made and is authorized.
        <br>
        3.2 The payment submitted for the Product by the Customer may require additional verification, such as
        confirmation of the last 4 digits of the payment card, a confirmation screenshot of the transaction in the
        online banking application/website, any other related documents.
        <br>
        3.3 Order can be paid via Credit Card only.
        <br>
        3.4 The Company is not responsible for any technical or procedural issues that may occur while the payment is
        processed Credit Card Processor. These may include, but are not limited to:
        <br>
        The payment falling under Credit Card Processor / Customer's Bank Review, which means the payment is not
        released until the investigation by the particular financial institution is completed.
        The payment being done via eCheck (electronic check), which is an electronic version of a paper check used to
        make payments online. It can take up to 10 days for an eCheck to get delivered.
        Technical issues with the Credit Card Processor or Customer's Bank.
        <br>
        If the transaction fails, the Customer should check the balance on their card, online purchase restrictions, and
        card validity before contacting the Support Staff for assistance.
        <br>
        3.5 A chargeback (being a challenge to a payment that the Customer files with their card issuer or financial
        institution), and any subsequent reversal instruction, is made by the Customer or third parties (such as payment
        processors) and not by us. We are bound to follow such instructions.
        <br>
        3.6 You acknowledge and agree that we will be entitled to recover any chargebacks and reversals that may be
        imposed on us by a payment product issuer or third parties (such as payment processors), as well as any
        processing or any other fees whatsoever incurred by us on those chargebacks and reversals.
        <br>
        3.7 If the Customer initiates any chargeback request or other “Request for Information” or similar process, they
        expressly agree and consent to us to share any and all information in relation to their agreement of these terms
        and conditions, in order to defeat any such chargeback request.
        <br>
        4. Discounts
        <br>
        4.1 The Company commits to equal access to Promotional and Loyalty Program discounts for each Customer. The
        Loyalty Program discounts may be found in "My Bonuses" on the Customer’s dashboard.
        <br>
        4.2 The discount code can be applied by placing the Code in the "Discount code" field on the Order Form. Should
        the Code not be provided in the corresponding section, the discount will not be applied.
        <br>
        4.3 The Customer may use the "First-time Discount" only once.
        <br>
        4.4 Only one discount may be used per Order. Multiple discounts/offers cannot be combined on the same Order.
        <br>
        4.5 The "Invite Friends" tab located in “My Bonuses” on the Customer’s dashboard contains an invitation link.
        Clients may use the link to invite friends to the service and get a $30 discount each time after the 14 days
        period passes from the deadline of the Order that was placed by the friend(s).
        <br>
        4.5.1. The Order that was paid using the invitation link should be placed with the “Writing” type of service at
        the price of at least $30.
        <br>
        4.5.2. The discount code is valid throughout a year for the Customer to use it.
        <br>
        4.5.3. The Customer may check the status of their discount using the “Invite Friends” tab or by contacting the
        Support Staff.
        <br>
        4.5.4. The discounts don’t sum up: Customers can use a single $30 discount per order, but the number of friends
        to refer to is unlimited. <br>
        5. Order Process
        <br>
        5.1 Order validation. The Company reserves the right to re-check the Order details after the payment to confirm
        the matching of the requirements indicated while filling out the Order form and any other requirements provided
        manually by the Customer via any communication channel. Should cases of mismatch occur, the Support Staff will
        contact the Customer to clarify and finalize the details.
        <br>
        5.2 Order volume. By the Company Standards, Order volume is measured in words only. One double-spaced page
        equals 300 words, and one single-spaced page equals 600 words.
        <br>
        5.3 Change of Order details. The Customer may provide changes to the scope of work by contacting the Support
        Staff. Changes that influence the volume, urgency, or complexity of the Order may require additional payment,
        which will be discussed with the Customer.
        <br>
        5.4 Resources. Should a specific source be required for Order completion, the Customer is responsible for
        providing it to the Writer. The Customer should upload the source(s) before the Writer is assigned in order to
        assure on-time delivery. If the source is provided late, extra time for Order completion will be required.
        <br>
        5.5 Communication. The Customer may contact their Writer via the Messaging System, which is available from
        Customer's profile on the Website. The option is located on the specific Order page, in the "Messages" tab. The
        Customer may also contact the Support Staff 24/7 via Online Chat, Email, or phone.
        <br>
        5.6 Progress tracking. The Customer may track the progress of the Order on the relevant Order page in the
        personal account. As well, the Customer may get updates from the Writer or the Support Staff by contacting them
        via the above-mentioned communication channels.
        <br>
        5.7 Order delivery. The Company is held responsible for the delivery of the Product within the given deadline.
        If additional time is required due to the complexity of the task, the Support Staff will contact the Customer.
        The completed Order may be downloaded from the Customer's personal account on the Website. The Customer is held
        responsible for downloading the Product in a timely manner. The Company cannot be held responsible for technical
        issues from the Customer's side, which have prevented them from downloading the Product on time.
        <br>
        6. Order Revision
        <br>
        6.1 The Customer is entitled to free amendments to their Order within 14 days (up 30 days for orders 30 pages
        long and more) after Order delivery. If Revision is required at a later time, the Customer will need to pay
        additionally, depending on the complexity of the Revision.
        <br>
        6.2 The Customer can submit a Revision Request from the "Order View" page on their personal account.
        <br>
        6.3 A free Revision can be provided only if the initial instructions and the instructions for the Revision
        match. The Company is entitled to ask for additional payment in order to complete the Revision if the revision
        instructions contradict the initial Order instructions.
        <br>
        6.4 The Revision deadline will be calculated based on the order volume, academic level, initial order urgency
        and revision complexity level. The customer will be able to select a relevant revision complexity level while
        submitting a revision request. They will also see the maximum revision delivery time for the selected revision
        level. <br>
        7. The Use of Product
        <br>
        7.1 The Orders produced by buyresearchpapers.net are not intended to be submitted as the Customer's own work.
        The sole purpose of the Product is to be utilized as a reference or a sample for their own work.
        <br>
        7.2 The Company strictly abides by all Copyright laws. Any opposing activity is the responsibility of the
        Customer if they break the Company's Terms and Conditions.
        <br>
        7.3 The Company retains the right to use the Order at its own discretion in case a chargeback is filed by the
        Customer. This includes but is not limited to publishing the content of the Order on the Website for commercial
        use. In that case, any plagiarism software will link back to the Website as the initial source of the content.
        <br>
        7.4 The Customer is required to repay all chargebacks (a chargeback being a challenge to a payment that the
        Customer files with their card issuer or financial institution and any subsequent reversal instruction) amount
        and any other fees whatsoever incurred by us on the chargebacks or reversals in case they wish to be entitled to
        any service provision by the Company.
        <br>
        8. Miscellaneous Provisions
        <br>
        8.1 All Terms and Conditions that define the rights and obligations of both contract parties, the Customer and
        the Company, are listed in this Agreement. This document solely, its statements, promises or inducements, are to
        be considered valid or binding. After accepting the Terms and Conditions, this Agreement supersedes all previous
        verbal or written communications or Agreements between the parties.
        <br>
        8.2 The Customer accepts that if a particular portion of the Terms and Conditions is in conflict with any state
        law, it will not affect the rest of the document. The Customer's rights and obligations will continue to be in
        force for all other terms of this Agreement.
        <br>
        8.3 The Agreement is governed, in its interpretation and performance, by the laws of the location of the
        Company's physical address of its principal business, precisely the United Kingdom.
        <br>
        9. Limitation of Liability
        <br>
        By accepting the above Terms and Conditions of this Agreement the Customer agrees to release and not hold the
        Company or its employees, shareholders, officers, agents, representatives, directors, affiliates, promoters,
        subsidiaries, advertising and fulfillment agencies, any third-party providers or sources of information or data
        and legal advisers (the "Company's Affiliates") responsible for any and all losses, rights, damages, claims, and
        actions of any kind, arising from or related to the products, including but not limited to:

        telephone, electronic, hardware or software, Internet, network, email, or computer malfunctions, failures or
        difficulties of any kind; <br>
        failed, garbled, incomplete or delayed computer transmissions;
        any condition caused by events beyond the control of the Company that might cause the Product to be corrupted,
        delayed or disrupted; <br>
        any damages or losses of any sort arising in connection with, or as a result of, utilizing the services;
        any printing or typographical errors in any materials associated with the service.
        <br>
        10. Office
        <br>
        5 Percy Street, Suite 6, Fitzrovia, London, United Kingdom, W1T 1DG <br>
        11. Amendments
        <br>
        Customers accept that the Company can modify its Terms and Conditions determined by the Agreement; modifications
        will be posted; however, it is recommended and strongly advised that they review these pages regularly.
     


    </div>
    <%- include('template/footer'); -%>